@font-face {
    font-family: "SourceCodePro";
    src: url("assets/SourceCodePro.otf");
}

@font-face {
    font-family: "Aaargh";
    src: url("assets/Aaargh.ttf");
}

@-webkit-keyframes appear-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes appear-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    margin: 0px;
    overflow: hidden;
}

a {
    color: #F33000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*Login Div*/

.signin,
.chat {
    height: 100vh;
    width: 100%;
    background: #4d4d4d;
    background: -webkit-linear-gradient(top, #707170 0%, #0e0e0e 100%);
    background: linear-gradient(to bottom, #707170 0%, #0e0e0e 100%);
    font-family: "Aaargh";
    overflow-y: auto;
}

.signin > * {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.signin-header {
    margin-top: 5vh;
    font-size: 3rem;
    color: #CFCBF2;
}

.error {
    display: block;
    text-align: center;
    color: red;
}

.camera-error {
    font-size: 1.75rem;
}

.signin-error {
    display: none;
    margin-bottom: 2rem;
}

.signin-p:first-of-type {
    margin-top: 8vh;
}

.signin-p {
    color: #BEBCCF;
}

.signin > input {
    display: block;
}

.signin > input[type=text],
.signin > input[type=password] {
    width: 45vw;
    max-width: 400px;
    height: 5vh;
    min-height: 30px;
    font-size: 30px;
}

.signin > input[type=submit] {
    margin-top: 1rem;
    height: 5vh;
    width: 35vw;
    max-width: 365px;
    min-height: 2.5rem;
    font-size: 1.3rem;
}
/*Chat application*/

.chat {
    display: none;
}

.chat > .sound {
    position: absolute;
    top: 1rem;
    right: 1rem;
    right: calc(1rem + 1vw);
    height: 3rem;
    width: auto;
    cursor: pointer;
}

.chat > article {
    height: 87.5vh;
    height: calc(100vh - 6.5rem);
    min-height: 75vh;
    margin-left: 4%;
    margin-bottom: .5rem;
    overflow-y: auto;
}

.chat .msg {
    margin-bottom: .7rem;
    padding: .1rem;
    padding: 1vmin;
    padding-left: 1rem;
    width: 70%;
    font-size: 1.1rem;
    line-height: 1.8rem;
    word-wrap: break-word;
    -webkit-animation-name: appear-animation;
    animation-name: appear-animation;
    -webkit-animation-duration: .35s;
    animation-duration: .35s;
}

.msg img {
    max-width: 65vw;
    max-width: calc(70vw - 2rem);
}

article .msg:nth-child(1) {
    margin-top: .2rem;
}

.submit {
    border: 0px solid black;
    border-radius: 12px;
    height: 12vh;
    min-height: 50px;
    max-height: 5rem;
    width: 18%;
    max-width: 15rem;
    box-shadow: .3rem .3rem rgba(0, 0, 0, .25);
    cursor: pointer;
}

.chat > input[type=submit] {
    margin-left: 3%;
    font-size: 1.2rem;
    background: gray;
}

.chat > input[type=submit]:hover {
    background: #9a9a9a;
}

.chat > .input {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    bottom: 1.25rem;
    border: 0.2px solid black;
    margin-left: 5%;
    height: 4rem;
    width: 70%;
    font-size: 1.4rem;
    background: white;
    box-shadow: .4rem .4rem rgba(0, 0, 0, 0.1);
}

.input > .to {
    position: relative;
    top: 1.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    max-width: 20%;
}

.to .who {
    border-radius: 2px;
    padding: .2rem;
    background: #79be49;
    color: #333333;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.to .who:hover {
    background: #87c55b;
}

.popup {
    display: none;
    position: absolute;
    bottom: 6rem;
    border-radius: 6px;
    padding: 0.2rem;
    width: 15rem;
    line-height: 2;
    background: #676e62;
    cursor: default;
}

.popup-animate {
    -webkit-animation-name: appear-animation;
    animation-name: appear-animation;
    -webkit-animation-duration: .35s;
    animation-duration: .35s;
}

.to li {
    list-style: none;
}

.input > input[type=text] {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    border: 0;
    border-left: 1px solid black;
    padding: 0;
    padding-left: 0.25rem;
    padding-right: 0.5rem;
    font-size: inherit;
}

.input-svg {
    margin-right: .9rem;
    width: 2rem;
    font-size: 1.1rem;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.svg-small {
    width: 1.25rem;
}

.menu {
    right: 0;
    bottom: 4.7rem;
}

.menu li {
    border-bottom: 1px solid #C6C6C6;
    margin: .25rem;
    font-family: "Aaargh";
    list-style: none;
    text-align: center;
    color: #C6C6C6;
    cursor: pointer;
}

.menu li:hover {
    font-size: 1.28rem;
    color: #DADADA;
}

.menu li:last-child {
    border-bottom: none;
}

.menu-link {
    color: #8d1c00;
    font-size: .85rem;
}

.open-emoji {
    margin-right: 1.5rem;
    font-size: 3rem;
    text-decoration: none;
}

.emoji-list {
    right: 0;
    bottom: 4.7rem;
    width: 12rem;
    text-align: center;
    color: #C6C6C6;
}

.emoji-list > p:first-child {
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-family: "Aaargh";
    text-decoration: underline;
}

.emoji-list span {
    margin: .5rem;
    padding: .3rem;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 1.75rem;
    cursor: pointer;
}

.emoji-list span:hover {
    padding: .6rem;
}

.modal {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #676e62;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, .25);
}

.modal-animate {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: .12s;
    animation-duration: .12s;
}

.img-modal {
    top: 5vh;
    padding: 2rem;
    width: 75vw;
    height: 75vh;
    z-index: 3;
}

.modal > * {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    text-align: center;
}

.img-modal-close {
    left: 2%;
    bottom: 4%;
    float: right;
    width: 3rem;
    transform: none;
    cursor: pointer;
}

.send-pic {
    display: block;
    margin-top: 1rem;
    font-size: 1.2rem;
    background: #9a9a9a;
}

.send-pic:hover {
    background: #ababab;
}

.fade-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.signin-modal {
    top: 40vh;
    padding: 2rem;
    width: 20rem;
    font-size: 1.15rem;
    font-family: SourceCodePro;
    z-index: 4;
}

.signin-modal > input[type=password] {
    height: 1.4rem;
}
/* Speaks of messages recieved in <article> */

.reply {
    color: white;
}

.my {
    color: #C7C7C7;
}
/*Spans in this scenario are the Author names*/

span {
    font-family: sans-serif;
    font-size: 1.25rem;
}

.reply span {
    color: #2FE4ED;
}

.my span {
    color: #B8E0D0;
}

.emoticon {
    height: 1.8rem;
    width: auto;
}

.msg-time {
    display: none;
    position: relative;
    top: 0.7rem;
    left: -0.25rem;
    font-size: 0.7rem;
}

.console {
    font-family: "SourceCodePro";
    letter-spacing: 1px;
    line-height: 2rem;
    color: #cde4fc;
}

@media (max-width: 600px) {
    .input-svg {
        display: none;
    }
    .open-menu {
        display: block;
    }
}

@media (max-width: 450px) {
    .input {
        max-width: 70%;
    }
    .input > input[type=text] {
        max-width: 65%;
    }
    .to .who {
        padding: 0;
    }
}

@media (max-height: 400px) {
    .chat > .input {
        bottom: 0.25rem;
    }
}
